
html, body {
	margin:0px;
	padding:0px;
	width: 100%;
	height: 100%;
}
body {
	color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.header-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #549cff none repeat;
	padding:0px 10px;
	z-index: 9999;
}
.header-bar .back-button {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	display: none;
	width: 35px;
	text-align: center;
	line-height: 35px;
}
.header-bar .title_page {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	float: left;
}
.header-bar button, .header-bar button:active, .header-bar button:focus {
	border-radius: 0px;
	width: 35px;
	height: 32px;
	background: url('../img/menu.png');
	background-size: 100% 100%;
	float: right;
	margin-top:7px; 
}
.header-bar button.active {
	border-radius: 0px;
	width: 35px;
	height: 32px;
	background: url('../img/close.png');
	background-size: 100% 100%;
	float: right;
	margin-top:7px; 
}

.content {
	text-align: justify;
	font-size: 12px;
	padding: 20px 20px 50px;
}

.header-image {
	width:100%;
	max-height: 320px;
}

.list_apartment {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0px;
	left: 0px;
	background-color: #CEE3F6;
}

.list_apartment .item-apart.active .item-apart-overlay{
	opacity: 0.2;
	line-height: 350px;
}
.list_apartment .item-apart.active .apart-info {
	line-height: 350px;	
}
.list_apartment .item-apart {
	height: 150px;
	position: relative;
	margin-bottom: 10px;
}
.list_apartment .item-apart img {
	width: 100%;
	height: 100%;
}
.list_apartment .item-apart .item-apart-overlay {
	background-color: #000000;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	-webkit-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
}
.list_apartment .item-apart .item-apart-overlay:hover {
	opacity: 0.2;
}
.list_apartment .item-apart .apart-info {
	position: absolute;
	z-index: 110;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}
.details_apartment {}

.panel-title {font-size: 14px;}
.panel-body {
	padding:10px 5px;
}

.list-highlight {
	border:none;
	padding: 0px;
}
.list-highlight .list-group-item {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 2px solid #ccc;
}
.list-highlight .list-group-item:last-child {
	border:none;
}

.gallery {}
.gallery img {
	width: 100%;
	height: 100%;
	margin: 10px 0px;
}

.item-select-apartment {
	font-size: 12px;
	line-height: 30px;
}
.page-content-wrapper {
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: 100%;
	width: 100%;
}