<ion-content>
	<div ng-repeat="row in data.items" style="float:left; width:50%;">
	    <a data-title="{{ row.name }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ upload_url + row.images }}">
	        <img class="img-responsive" src="{{  upload_url + row.images }}">
	    </a>
	</div>
</ion-content>

<script type="text/javascript">
	$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
	    event.preventDefault();
	    $(this).ekkoLightbox();
	}); 
</script>