<ion-content>
	<div class="content highlight">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">Recommended Area</h4>
			</div>
			<div class="panel-body">
				<div class="list-group list-highlight">
				  <a class="list-group-item" ng-repeat="row1 in highlight.recommended_area">{{ row1.highlight_name }}</a>
				</div>
			</div>
		</div>

		<div class="panel panel-danger">
			<div class="panel-heading">
				<h4 class="panel-title">Top Attraction</h4>
			</div>
			<div class="panel-body">
				<div class="list-group list-highlight">
				  <a class="list-group-item" ng-repeat="row2 in highlight.attraction">{{ row2.highlight_name }}</a>
				</div>
			</div>
		</div>
	</div>
</ion-content>