<!--  on-swipe-up="priview_apartment_up()" on-swipe-down="priview_apartment_down()" -->
<ion-content>
	<div class="list_apartment">
		<div class="item-apart" ng-repeat="row in data.list" id="{{ row.id }}" ng-href="#/app/apartment_details/{{ row.id }}">
			<a href="#/app/apartment_details/{{ row.id }}">
				<img src="{{ upload_url + 'apartment/' + row.images }}">
				<div class="item-apart-overlay"></div>
				<div class="apart-info" ng-href="#/app/apartment_details/{{ row.id }}">{{ row.name }}</div>
			</a>
		</div>
	</div>
</ion-content>